[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
pymongo = "*"
pandas = "*"
xlsxwriter = "*"
texttable = "*"
pexpect = "*"
numpy = "*"
requests = "*"
bokeh = "*"
jupyterlab = "*"

[dev-packages]

[requires]
python_version = "3.7"
