[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
pymongo = "*"
pandas = "*"
xlsxwriter = "*"
texttable = "*"
pexpect = "*"
numpy = "*"
requests = "*"
bokeh = "*"
jupyterlab = "*"
plotly = "*"
ipywidgets = "*"
ptable = "*"
jupyterthemes = "*"
xlrd = "*"
rise = "*"
jupyter-contrib-nbextensions = "*"
jupyter-nbextensions-configurator = "*"
autopep8 = "*"
scikit-learn = "*"
streamlit = "*"
altair = "*"
ipykernel = "*"
colorama = "*"
yfinance = "*"
yahoofinancials = "*"
seaborn = "*"
bs4 = "*"
docx = "*"

[dev-packages]
pylint = "*"
flake8 = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
